<div class="jumbotron">
  <h1>Hello sir, do you want to come in?</h1>
  <div class="btn-group" role="group">
    <button class="btn btn-warning btn-lg" href="/" role="button">Nope</button>
    <button class="btn btn-success btn-lg" href="/welcome" role="button">Yes</button>
  </div>
</div>
